@import 'leaflet.css';
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Share Tech", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}


#bomb:active {
  transform-origin: center;
  animation: Bomb 5s ease infinite;
}

@keyframes Bomb{
  0%{transform: translateY(0px);}
  50%{transform: translateY(5px);}
  100%{transform: translateY(0px);}
}

#backgradient {
  background: linear-gradient(16deg,hsla(240, 100%, 25%, 1),hsla(240, 100%, 25%, 1), hsla(240, 78%, 53%, 1), hsla(220, 73%, 73%, 1),hsla(207, 79%, 73%, 1), #ac5f0e, #b41d9d7c,hsla(240, 100%, 25%, 1));
  background-size: 400% 400%;
  animation: gradient 70s ease infinite;
  height: 100vh;
}


#selectfilter{
  color: #fff;
  text-align: center;
  background-color: rgba(156, 156, 156, 0.37);

}

#selectfilter:focus {
  color: #fff;
  text-align: center;
  background-color: #2564eb;

}


#optionx:hover{
  text-align: center;
  background-color: #2564eb;


}

#optionx{
  text-align: center;
  background-color: #2564eb;

}

#selectphoto0{
  appearance: none;
  color: #fff;
  text-align: center;
  background-color: rgba(156, 156, 156, 0.37);
 
}

#selectphoto0:hover{
  color: #fff;
  text-align: center;
  background-color: #2564eb;

}

#selectphoto{
  appearance: none;
  color: #fff;
  text-align: center;
  background-color: rgba(156, 156, 156, 0.37);
  border-radius: 8px; 
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 4px;
  -moz-margin-top: 4px;
  -moz-margin-left: 2px;
  -moz-margin-right: 2px;
  -moz-margin-bottom: 4px;

}

#selectphoto:hover{
  color: #fff;
  text-align: center;
  background-color: #2564eb;

}

#selectbtn{
  appearance: none;
  color: #fff;
  text-align: center;
  background-color: rgba(156, 156, 156, 0.37);
  border-radius: 4px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  -webkit-margin-top: 4px;
  -webkit-margin-left: 4px;
  -webkit-margin-right: 4px;
  -webkit-margin-bottom: 4px;
  -moz-margin-top: 4px;
  -moz-margin-left: 4px;
  -moz-margin-right: 4px;
  -moz-margin-bottom: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#selectbtn:hover{
  color: #fff;
  text-align: center;
  background-color: #2564eb;

}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background-color: #1E3A8A;
}

.leaflet-container a.leaflet-popup-close-button{
 color: #fff;
}

.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  -moz-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #2b6cb0;
  /*Set to match the Tailwind colour you want the active one to be */
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


.mapbck {
  background-color: rgba(94, 94, 94, 0.597)
}


.cryspy {
  image-rendering: crisp-edges;
  filter: saturate(120%);
  -webkit-filter: saturate(120%);
  -moz-filter: saturate(120%);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-moz-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(176, 176, 176);
  border-radius: 10px;
}

::-moz-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(176, 176, 176);
  border-radius: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2564eb;
}

::-moz-scrollbar-thumb:hover {
  background: #2564eb;
}

#cloud1{
  margin-top: 70px;
  position:absolute;
  left: 65vw;
  z-index: -100; 
    animation: CloudA 21s infinite;
    transform-origin: center;
  }

  @keyframes CloudA{
    0%{transform: translateX(30px);}
    50%{transform: translateX(-30px);}
    100%{transform: translateX(30px);}
  }

.treeleft{
  animation-delay: 2s;
  animation: animateU 8s infinite;
  transform-origin: left;
}
@keyframes animateU{
  0%{transform: rotate(2deg);}
  50%{transform: rotate(-2deg)}
  100%{transform: rotate(2deg);}
}

.treeright{
  animation: animateR 4s infinite;
  transform-origin: center;
}

@keyframes animateR{
  0%{transform: translateY(0px);}
  50%{transform: translateY(-7px);}
  100%{transform: translateY(0px);}
}


#cloud2{
  margin-top: 20px;
  position:absolute;
  left: 10vw;
  
  animation: CloudB 25s infinite reverse;
  transform-origin: center;
}

@keyframes CloudB{
  0%{transform: translateX(-30px);}
  50%{transform: translateX(30px);}
  100%{transform: translateX(-30px);}
}

.obl {
 position: absolute;
 background-color: white;
}
.obl1 {
 border-radius: 50px;
 width: 200px;
 height: 50px;
 margin-top: 70px;
}

.obl2 {
 border-radius: 50%;
 top: 45px;
 left: 25px;
 width: 65px;
 height: 60px;
}

.obl3 {
 border-radius: 50%;
 top: 25px;
 left: 70px;
 width: 110px;
 height: 95px;
}

#sun{
  position:absolute;
  left: 70vw;
  z-index: -110;
}

.objsun {
  background-color: rgb(228, 202, 0);
  border-radius: 100%;
  width: 170px;
  height: 170px;
  margin-top: 30px;
 }

@media  (max-width: 1280px) {
  .objsun {
    margin-top: 40px;
    width: 130px;
    height: 130px;
  }

  .obl {
    position: absolute;
    background-color: white;
   }
   .obl1 {
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin-top: 70px;
   }
   
   .obl2 {
    border-radius: 50%;
    top: 45px;
    left: 25px;
    width: 65px;
    height: 60px;
   }
   
   .obl3 {
    border-radius: 50%;
    top: 25px;
    left: 70px;
    width: 110px;
    height: 95px;
   }
}
  


 @media screen and (max-width: 768px) {
  .objsun {
    margin-top: 70px;
    margin-left: 25px;
    width: 80px;
    height: 80px;
  }

  .treeright{
    padding-top: 50px;
    animation: animateR 6s infinite;
    transform-origin: center;
  }
  
  @keyframes animateR{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-2px);}
    100%{transform: translateY(0px);}
  }
  
#cloud1{
  margin-top: 100px;
  position:absolute;
  left: 60vw;
  z-index: -100;
}
  
  .obl1 {
    border-radius: 50px;
    width: 100px;
    height: 25px;
    margin-top: 35px;
   }
   
   .obl2 {
    border-radius: 50%;
    top: 23px;
    left: 12px;
    width: 32px;
    height: 30px;
   }
   
   .obl3 {
    border-radius: 50%;
    top: 13px;
    left: 35px;
    width: 55px;
    height: 47px;
   }

 }

 #footer {
z-index: -100;
}

[x-cloak] {
  display: none;
}

[v-cloak] {
  display: none;
}

img{
  user-select: none;
  filter: saturate(120%);
  -webkit-filter: saturate(120%);
  -moz-filter: saturate(120%);
}


.mappopup{
  width: 200px;
  background-color: #2b6cb0;
}

.mappopup h1{
  color: white;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .mappopup{
    width: 100px;
  }
  
  .mappopup h1{
    font-size: 10px;
  }
 
}

